@model RequestTemplateViewModel

<legend>Software</legend>

<div class="control-group">
    
    <fieldset>
        
        <div class="control-group">
            <label class="control-label">Software:</label>
            <div class="controls">
                <div class="span6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Available</th>
                                <th>Selected</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model.GetSoftware().OrderBy(a => a.Text))
                            {
                                <tr>
                                    <td><input type="checkbox" value="@s.Value" name="Request.AvailableSoftware" class="available" @(s.Available ? "checked='checked'" : string.Empty) /></td>
                                    <td><input type="checkbox" value="@s.Value" name="Request.Software" class="selected" @(s.Selected ? "checked='checked'" : string.Empty) /></td>
                                    <td>@s.Text</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">Web Applications:</label>
            <div class="controls">
                <div class="span6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Available</th>
                                <th>Selected</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model.GetSoftware(true).OrderBy(a => a.Text))
                            {
                                <tr>
                                    <td><input type="checkbox" value="@s.Value" name="Request.AvailableSoftware" class="available" @(s.Available ? "checked='checked'" : string.Empty) /></td>
                                    <td><input type="checkbox" value="@s.Value" name="Request.Software" class="selected" @(s.Selected ? "checked='checked'" : string.Empty) /></td>
                                    <td>@s.Text</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </fieldset>

</div>

<style type="text/css">
    input[name='softwareSelected'], selectedTitle { margin: 0 1em; } 
</style>