@model RequestTemplateViewModel

@if(Model.Units.Any())
{
    <legend>Unit</legend>
    
    <div class="control-group">
        <fieldset>
            <div class="control-group">
                @Html.LabelFor(model => model.RequestTemplate.Unit, new {@class="control-label"})
                <div class="controls">
                    @*@Html.DropDownListFor(model => model.RequestTemplate.Unit, Model.GetUnits(), "--Select Unit--")*@
                    <select name="RequestTemplate.Unit">
                        @foreach(var u in Model.GetUnits())
                        {
                            <option value="@u.Value" @(u.Selected ? "selected" : string.Empty) >@u.Text</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.Units)
                </div>
            </div>
        </fieldset>
    </div>
}