@model CAM.Models.RequestTemplateViewModel

    <legend>Template Details</legend>
    
    <div class="control-group">
        <fieldset>
            <div class="control-group">
                @Html.LabelFor(model => model.RequestTemplate.Name, new {@class="control-label"})
                <div class="controls">
                    @Html.TextBoxFor(model => model.RequestTemplate.Name, new {@class="span3"})
                    @Html.ValidationMessageFor(model => model.RequestTemplate.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.RequestTemplate.Description, new {@class="control-label"})
                <div class="controls">
                    @Html.TextAreaFor(model => model.RequestTemplate.Description, new {@class="span3"})
                    @Html.ValidationMessageFor(model => model.RequestTemplate.Description)
                </div>
            </div>
        </fieldset>
    </div>