@model RequestTemplateViewModel

<legend>Security Groups</legend>
    
<div class="control-group">
    <fieldset>
        <div class="control-group">
            <label class="control-label">Security Group(s):</label>    
            <div class="controls">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="hastip" title="Available for selection when submitting a request.">Available</th>
                            <th class="hastip" title="Preselected when request page is loaded.">Selected</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var sg in Model.GetSecurityGroups())
                        {
                            <tr>
                                <td><input type="checkbox" value="@sg.Value" name="RequestTemplate.AvailableSecurityGroups" class="available" @(sg.Available ? "checked='checked'" : string.Empty) /></td>
                                <td><input type="checkbox" value="@sg.Value" name="RequestTemplate.SecurityGroups" class="selected" @(sg.Selected ? "checked='checked'" : string.Empty) /></td>
                                <td>@sg.Text</td>
                                <td>@sg.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>