@model RequestTemplateViewModel

@{
    ViewBag.Title = "Create Request Template";
}

<h2>Create Request Template</h2>

@using (Html.BeginForm("Create", "RequestTemplate", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
    @Html.Hidden("Request.Site", Model.Request.Site.Id)
                
    <legend>Template Details</legend>
    
    <div class="control-group">
        <fieldset>
            <div class="control-group">
                @Html.LabelFor(model => model.Request.Name, new {@class="control-label"})
                <div class="controls">
                    @Html.TextBoxFor(model => model.Request.Name, new {@class="span3"})
                    @Html.ValidationMessageFor(model => model.Request.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Request.Description, new {@class="control-label"})
                <div class="controls">
                    @Html.TextAreaFor(model => model.Request.Description, new {@class="span3"})
                    @Html.ValidationMessageFor(model => model.Request.Description)
                </div>
            </div>
        </fieldset>
    </div>
    
    @Html.Partial("_RequestTemplateUnit")
    
    @Html.Partial("_RequestTemplateSecurityGroups")
    
    @Html.Partial("_RequestTemplateEmail")
    
    @Html.Partial("_RequestTemplateSoftware")

    <div class="form-actions">
        <input type="submit" value="Submit" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Index", new {}, new {@class="btn"})
    </div>
}

@section AdditionalScripts
{
    <script type="text/javascript">
        $(function () {
            
            // if uncheck available, selected needs to be unselected
            $(".available").change(function () {
                if (!$(this).is(":checked")) {
                    $(this).closest("tr").find(".selected").attr("checked", false);
                }
            });

            // uncheck selected, available shouldn't be selected
            $(".selected").change(function () {
                if ($(this).is(":checked")) {
                    $(this).closest("tr").find(".available").attr("checked", true);
                }
            });
        });
    </script>
}