@model RequestTemplateViewModel

@{
    ViewBag.Title = "Create Request Template";
}

<h2>Create Request Template</h2>

@using (Html.BeginForm("Create", "RequestTemplate", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
    @Html.Hidden("RequestTemplate.Site", Model.RequestTemplate.Site.Id)
                
    @Html.Partial("_RequestTemplateDetails")
    
    @Html.Partial("_RequestTemplateEmployeeType")
    
    @Html.Partial("_RequestTemplateUnit")
    
    @Html.Partial("_RequestTemplateSecurityGroups")
    
    @Html.Partial("_RequestTemplateEmail")
    
    @Html.Partial("_RequestTemplateSoftware")

    <div class="form-actions">
        <input type="submit" value="Submit" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Index", new {}, new {@class="btn"})
    </div>
}

@section AdditionalScripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/RequestTemplate.js")"></script>
}