@model RequestTemplateViewModel

@{
    ViewBag.Title = "Edit Template";
}

@section subhead
{
    <h1>@ViewBag.Title</h1>
}

@using (Html.BeginForm("Edit", "RequestTemplate", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
    @Html.Hidden("RequestTemplate.Site", Model.RequestTemplate.Site.Id)
    @Html.Hidden("Id", Model.RequestTemplate.Id)
                
    @Html.Partial("_RequestTemplateDetails")

    @Html.Partial("_RequestTemplateAD")
    
    @Html.Partial("_RequestTemplateEmployee")
    
    @Html.Partial("_RequestTemplateUnit")
    
    @Html.Partial("_RequestTemplateSecurityGroups")
    
    @Html.Partial("_RequestTemplateEmail")
    
    @Html.Partial("_RequestTemplateSoftware")

    <div class="form-actions">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Index", new {}, new {@class="btn"})
    </div>
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/RequestTemplate.js")"></script>
}