@model IEnumerable<RequestTemplate>

@{
    ViewBag.Title = "Request Templates";
}

<h2>Request Templates</h2>

<div class="row-fluid">
    <a href="@Url.Action("Create")" class="btn pull-right btn-primary">
        <i class="icon-plus"></i>
        Create
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var template in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", new {id=template.Id})" class="btn">
                        <i class="icon-pencil"></i>
                        Edit
                    </a>
                </td>
                <td>@template.Name</td>
                <td>@template.Description</td>
                <td>@template.Unit.Name</td>
            </tr>
        }
    </tbody>
</table>