@model IEnumerable<RequestTemplate>

@{
    ViewBag.Title = "Request Templates";
}

@section subhead
{
    <h1>@ViewBag.Title</h1>
}

@section scripts
{
    @Html.Partial("_dataTables")
}

<ul class="pull-right unstyled">
    <li>
        <a href="@Url.Action("Create")" class="btn btn-primary">
            <i class="icon-plus"></i>
            Create
        </a>
    </li>
</ul>

<div style="clear:both;"></div>

<table class="table table-striped default_table one-button">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var template in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", new {id=template.Id})" class="btn">
                        <i class="icon-pencil"></i>
                        Edit
                    </a>
                </td>
                <td>@template.Name</td>
                <td>@template.Description</td>
                <td>@template.Unit.Name</td>
            </tr>
        }
    </tbody>
</table>