@using CAM.Helpers
@model AdOuViewModel

@{
    ViewBag.Title = "Active Directory Organizational Units";
}

@section subhead
{
    <h1>@ViewBag.Title</h1>
    
    <p>Changes from Active Directory from what is in the CAM database.</p>
}

@using(Html.BeginForm("OrganizationalUnits", "ActiveDirectory", FormMethod.Post, new {@class="form-horizontal"}))
{
    @Html.AntiForgeryToken()
    
    if(Model == null)
    {
        @Html.Partial("_AdAuthForm", "Authorize")    
    }
    else if(!Model.AdOuCompares.Any())
    {
        <div class="alert alert-info">
            <p>
                The system is in sync with your Active Directory.  No changes have been found.
            </p>
        </div>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Path</th>
                    <th>Change Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.AdOuCompares)
                {
                    <tr>
                        <td>
                            @if(row.ChangeType == ChangeType.Add)
                            {
                                <button class="btn btn-success adaction"><i class="icon-ok"></i></button>
                                <input type="checkbox" value="@row.Path" checked="checked" name="add"/>
                            }
                            else if (row.ChangeType == ChangeType.Update)
                            {
                                <button class="btn btn-success adaction"><i class="icon-ok"></i></button>
                                <input type="checkbox" value="@row.Path" checked="checked" name="update"/>
                            }
                            else if (row.ChangeType == ChangeType.Remove)
                            {
                                <button class="btn btn-success adaction"><i class="icon-ok"></i></button>
                                <input type="checkbox" value="@row.Path" checked="checked" name="remove"/>
                            }
                        </td>
                        <td>@row.Name</td>
                        <td>@row.Path</td>
                        <td>@row.ChangeType</td>
                    </tr>
                }
            </tbody>
        </table>
    
        @Html.Partial("_AdAuthForm", "Submit")
    }
}

@section styles
{
    <style type="text/css">
        input[type='checkbox'] { display: none;}
        .adaction i { margin-right: 0;}
    </style>
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".adaction").click(function (event) {
                $(this).toggleClass("btn-success btn-danger");
                $(this).find('i').toggleClass('icon-ok icon-remove');

                if ($(this).hasClass('btn-succes')) {
                    $(this).siblings('input').attr('checked', 'checked');
                } else {
                    $(this).siblings('input').removeAttr('checked');
                }

                event.preventDefault();
            });
        });
    </script>
}