@model CAM.Models.RequestViewModel

<div class="control-group">
    <legend>Active Directory</legend>
    <div class="control-group">
        @Html.LabelFor(model => model.Request.OrganizationalUnit, new {@class="control-label"})
        <div class="controls">
            <select name="Request.OrganizationalUnit" class="hastip" title="Active Directory OU, user will be created into.">
                <option value="0">--Select AD OU--</option>
                @foreach(var a in Model.GetOrganizationalUnits())
                {
                    <option value="@a.Value" @(a.Selected ? "selected" : string.Empty)>@a.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.Request.HomeDirectory, new {@class="control-label"})
        <div class="controls">
		    @Html.TextBoxFor(model => model.Request.HomeDrive, new {@class="span1 hastip", title="Home Drive"})
            @Html.TextBoxFor(model => model.Request.HomeDirectory, new {@class="hastip", title="Home Directory"})
        </div>
    </div>
</div>
