@using CAM.Core.BaseClasses
@using CAM.Resources
@model RequestViewModel

@{
    ViewBag.Title = "Create Request";
    ViewBag.Group = PageGroups.Request;
}

@section subhead
{
    <h1>@ViewBag.Title</h1>
}

@using (Html.BeginForm("Create", "Request", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("Request.Site", Model.Request.Site.Id)
    @Html.Hidden("Request.Unit", Model.Request.Unit != null ? Model.Request.Unit.Id.ToString() : string.Empty)
    
    @Html.Partial("_RequestEmployeeInformation")

    @Html.Partial("_RequestSecurityGroups")
    
    @Html.Partial("_RequestEmail")

    @Html.Partial("_RequestSoftware")

    <div class="form-actions">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <a href="@Url.Action("Index", "Home")" class="btn">Cancel</a>
    </div>
}